<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };

    var code = getUrlParameter('code');
    console.log(code);

    $.ajax({
        url: "https://api.linkedin.com/v2/me",
        type: "get",
        headers: { "Authorization": "Bearer AQXmw5W0bAsFH1cjyYn-PFkFlK0t_uGQsyKBj4qxIHAwoRRd984MRiZKWjtNswF69M2tThtcORw7PH6wTCncUcmP5_MhKIOLnkxigKu4LUWPSEZaLihWtilIKbF-ZQtIhwMSpKOLrgen9qR3Ua_i4bET2xa8NMQhs_3f665Wcl1Dtpz-ThN7xlBRGZXyRFxzKWl-J9aCNu0HETVlHDX_M5tdLx5iuPB17MsMjHgtod9K2qRdN1XE8PF1IVewXq11yaJl0tK2fmY_2Z62BgodiMO2MnZMFXZZHlsIWQAg0z6lpvNrGMijHmTuVfuj4GFd1nmx9cWriQI_nUuI2dwmjmVfTX406A" },
        success: function (response) {
            console.log("success", response);
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log("error", textStatus, errorThrown);
        }
    });

    // $.ajax({
    //     url: "https://www.linkedin.com/oauth/v2/accessToken",
    //     type: "post",
    //     dataType: "xml/html/script/json",
    //     contentType: "application/json",
    //     data: JSON.stringify({
    //         grant_type: 'authorization_code',
    //         code: code,
    //         redirect_uri: 'http://localhost/social/ln/callback.html',
    //         client_id: '8110e6np4uicl7',
    //         client_secret: 'D5uVUghS8LvuGduK'
    //     }),
    //     success: function (response) {
    //         console.log("success", response);
    //     },
    //     error: function (jqXHR, textStatus, errorThrown) {
    //         console.log("error", textStatus, errorThrown);
    //     }
    // });


</script>